*.gz filter=lfs diff=lfs merge=lfs -text
resources/net/wikipunk/rdf/yago/full_facts.clj filter=lfs diff=lfs merge=lfs -text
resources/net/wikipunk/rdf/yago/full_types.clj filter=lfs diff=lfs merge=lfs -text
resources/net/wikipunk/rdf/yago/facts.clj filter=lfs diff=lfs merge=lfs -text
