{nil 7426449,
 :bioschema/bioChemInteraction 645,
 :bioschema/encodesBioChemEntity 28,
 :bioschema/expressedIn 10210,
 :bioschema/hasMolecularFunction 0,
 :bioschema/inChI 0,
 :bioschema/inChIKey 0,
 :bioschema/isEncodedByBioChemEntity 27,
 :bioschema/isInvolvedInBiologicalProcess 1368,
 :bioschema/isLocatedInSubcellularLocation 5,
 :bioschema/molecularFormula 0,
 :bioschema/parentTaxon 163050,
 :bioschema/smiles 0,
 :bioschema/taxonRank 57201,
 :owl/sameAs 0,
 :schema/about 4272,
 :schema/actor 293686,
 :schema/affiliation 1251,
 :schema/alumniOf 288317,
 :schema/author 3478,
 :schema/award 82524,
 :schema/birthDate 1005374,
 :schema/birthPlace 301719,
 :schema/brand 99,
 :schema/broadcastChannelId 106,
 :schema/byArtist 21508,
 :schema/callSign 43,
 :schema/character 4883,
 :schema/children 39082,
 :schema/citation 261,
 :schema/colorist 30,
 :schema/competitor 25020,
 :schema/composer 7373,
 :schema/connectedTo 37,
 :schema/containedInPlace 98004,
 :schema/containsPlace 13055,
 :schema/contentLocation 14587,
 :schema/contentRating 0,
 :schema/contributor 282,
 :schema/copyrightHolder 61,
 :schema/countryOfOrigin 100611,
 :schema/creator 8159,
 :schema/dateCreated 25561,
 :schema/datePublished 207874,
 :schema/deathDate 455095,
 :schema/deathPlace 113155,
 :schema/depth 0,
 :schema/director 50315,
 :schema/dissolutionDate 12824,
 :schema/duns 57,
 :schema/duration 36050,
 :schema/editor 1144,
 :schema/elevation 58,
 :schema/encodingFormat 31,
 :schema/endDate 17034,
 :schema/exampleOfWork 47,
 :schema/familyName 77,
 :schema/faxNumber 1236,
 :schema/founder 5690,
 :schema/foundingDate 116525,
 :schema/foundingLocation 5820,
 :schema/gender 45,
 :schema/genre 3965,
 :schema/geo 291667,
 :schema/givenName 3146,
 :schema/gtin 2,
 :schema/hasOccupation 678650,
 :schema/hasPart 8099,
 :schema/height 465,
 :schema/homeLocation 15009,
 :schema/honorificPrefix 5110,
 :schema/iataCode 6075,
 :schema/icaoCode 7826,
 :schema/illustrator 80,
 :schema/image 883111,
 :schema/inLanguage 63485,
 :schema/isBasedOn 1982,
 :schema/isPartOf 5962,
 :schema/isbn 213,
 :schema/issn 3018,
 :schema/issueNumber 1,
 :schema/iswcCode 2318,
 :schema/knowsLanguage 361180,
 :schema/latitude 0,
 :schema/legalStatus 0,
 :schema/leiCode 2148,
 :schema/license 0,
 :schema/location 62783,
 :schema/locationCreated 338,
 :schema/logo 30016,
 :schema/longitude 0,
 :schema/lyricist 3661,
 :schema/material 670,
 :schema/maxValue 0,
 :schema/memberOf 229090,
 :schema/minValue 0,
 :schema/musicBy 28133,
 :schema/musicReleaseFormat 0,
 :schema/nationality 620629,
 :schema/netWorth 0,
 :schema/numberOfEmployees 26,
 :schema/numberOfEpisodes 20178,
 :schema/numberOfPages 86,
 :schema/numberOfSeasons 13872,
 :schema/operatingSystem 4,
 :schema/organizer 17,
 :schema/owns 85,
 :schema/pagination 79,
 :schema/parent 38893,
 :schema/parentOrganization 3641,
 :schema/partOfSeason 3382,
 :schema/partOfSeries 7260,
 :schema/position 0,
 :schema/possibleTreatment 0,
 :schema/producer 40034,
 :schema/productionCompany 7200,
 :schema/provider 43,
 :schema/publisher 10304,
 :schema/recordLabel 0,
 :schema/releaseOf 0,
 :schema/relevantSpecialty 344,
 :schema/riskFactor 6,
 :schema/sameAs 0,
 :schema/servesCuisine 61,
 :schema/signOrSymptom 156,
 :schema/sponsor 431,
 :schema/sport 32,
 :schema/spouse 28646,
 :schema/startDate 17756,
 :schema/subEvent 6351,
 :schema/subOrganization 2764,
 :schema/superEvent 12616,
 :schema/telephone 9093,
 :schema/translator 47,
 :schema/unitCode 0,
 :schema/url 288283,
 :schema/value 0,
 :schema/volumeNumber 0,
 :schema/weight 443,
 :schema/width 38,
 :schema/workExample 45,
 :schema/worksFor 407}